@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

@media screen and (max-width: 640px) {
  a.active {
    background-color: #333;
    color: #fff;
  }
}

.post ul,
.post ol {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin-bottom: 0.5rem;
}

h2,
h1,
h3 {
  font-weight: bold;
  padding: 10px 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

.post a {
  color: blue;
  text-decoration: underline;
}

.post img {
  margin: auto;
}
